.react-calendar {
    width: 600px;
    // max-width: 100%;
    background: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        &:before {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        &:after {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
    button {
        margin: 0;
        border: 0px solid white;
        height: 60px;
        width: 60px;
        outline: none;
        &:enabled {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.react-calendar--doubleView {
    width: 700px;
    .react-calendar__viewContainer {
        display: flex;
        margin: -0.5em;
        >* {
            width: 50%;
            margin: 0.5em;
        }
    }
}

.react-calendar__navigation {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 60px;
    justify-content: center;
    background-color: #7761FF;
    button {
        flex-grow: 0;
        color: #fff;
        min-width: 44px;
        background: #7761FF;
        &:enabled {
            &:hover {
                background-color: #50CAFF;
                color: #fff;
            }
            &:focus {
                // background-color: #e6e6e6;
                color: #fff;
            }
        }
    }
    button[disabled] {
        background-color: #EBE7FF;
    }
}

.react-calendar__month-view__weekdays {
    padding-top: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #EBE7FF;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}

.react-calendar__month-view__weekNumbers {
    font-weight: bold;
    .react-calendar__tile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        font-size: 0.75em;
        padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
    }
}

.react-calendar__month-view__days__day--weekend {
    color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #566;
    background-color: rgb(179, 179, 179);
}

.react-calendar__year-view {
    .react-calendar__tile {
        padding: 2em 0.5em;
    }
}

.react-calendar__decade-view {
    .react-calendar__tile {
        padding: 2em 0.5em;
    }
}

.react-calendar__century-view {
    .react-calendar__tile {
        padding: 2em 0.5em;
    }
}

.react-calendar__tile {
    font-family: Rubik;
    font-size: 17px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0.75em 0.5em;
    &:disabled {
        background-color: #EBE7FF;
    }
    &:enabled {
        &:hover {
            background-color: #EBE7FF;
        }
        &:focus {
            background-color: #EBE7FF;
        }
    }
}

.react-calendar__tile--now {
    background: #b8b5c7;
    &:enabled {
        &:hover {
            border: 1px solid #50CAFF;
            background-color: #b8b5c7;
        }
        &:focus {
            border: 1px solid #50CAFF;
        }
    }
}

.react-calendar__tile--hasActive {
    background: #7761FF;
    &:enabled {
        &:hover {
            background: #50CAFF;
        }
        &:focus {
            background: #50CAFF;
        }
    }
}

.react-calendar__tile--active {
    background: #7761FF;
    color: white;
    &:enabled {
        &:hover {
            background: #7761FF;
        }
        &:focus {
            background: #7761FF;
        }
    }
}

.react-calendar--selectRange {
    .react-calendar__tile--hover {
        background-color: red;
    }
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
    display: none;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
    font-size: 20px;
}

.react-calendar__navigation__label {
    flex-grow: unset;
    font-size: 20px;
}

.pin {
    display: flex;
    border-radius: 50px;
    background-color: #50CAFF;
    color: #fff;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center
}