.profile_ext-nav {
    a {
        display: flex;
        padding-left: 25px;
        .title {
            padding-left: 10px;
        }
    }
}

.profile_ext-content {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    .list {
        overflow-x: hidden;
        height: 85vh;
        // min-width: 715px;
        width: 100%;
        margin-right: 40px;
    }
    .calendar {
        width: 100%;
        border: 5px;
    }
}

// CUSTOM SCROLL
::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: #003B72;
    border-radius: 10px;
    &:hover {
        background: #32516e;
    }
}